:root {
  --button-primary: #323f48;
  --button-primary-hover: #323f489e;
  --button-secondary: #19b2d3;
  --button-secondary-hover: #19b1d3c0;
  --button-tertiary: #ffffff;
  --button-tertiary-hover: #e6e6e6;
  --text-primary: #001242;
  --text-secondary: #ffffff;
  --text-tertiary: #0052ed;
  --text-light: #ffffff;
  --text-dark: #001242;
  --general-color-1: #ffffff;
  --general-color-2: #041142;
  --general-color-3: #0052ed;
  --general-color-4: #df0000;
  --general-color-5: #001c6c;
  --page-background-primary: #ffffff;
}
