:root {
  --button-primary: #0052ed;
  --button-primary-hover: #0b4eca;
  --button-secondary: #b10d00;
  --button-secondary-hover: #920a00;
  --button-tertiary: #ffffff;
  --button-tertiary-hover: #e6e6e6;
  --text-primary: #001242;
  --text-secondary: #ffffff;
  --text-tertiary: #0052ed;
  --text-light: #ffffff;
  --text-dark: #001242;
  --general-color-1: #ffffff;
  --general-color-2: #041142;
  --general-color-3: #0052ed;
  --general-color-4: #df0000;
  --general-color-5: #001c6c;
  --general-color-6: #00a9ce;
  --page-background-primary: #ffffff;
  --text-button-border: #00399d;
}
